#container {
    margin: 20px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid black;
}

#container::before {
    content: "Before Element";
    color: #f00;
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}

#container::after {
    content: "After Element";
    color: #f00;
    font-size: 20px;
    display: block;
    margin-top: 10px;
}
